<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %}</title>
				{% block head_style %}
				{% stylesheets filter="cssrewrite"
					'bundles/uamdatatables/vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css'
				%}
					<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
				{% endstylesheets %}
			{% endblock %}
			{% block head_script %}
				<script>
					var maintenance = {
						locale: "{{ app.request.locale }}"
					};
				</script>
			{% endblock head_script %}
	</head>
	<body>
		<div id="content">
			{% block maintenance_content %}{% endblock %}
		</div>
	<div id="footer">
		{% block footer %}{% endblock %}
	</div>>
		{% block foot_script %}
		{% javascripts
		'bundles/uamdatatables/vendor/datatables/media/js/jquery.js'
		'bundles/uamdatatables/vendor/datatables/media/js/jquery.dataTables.min.js'
		'bundles/uamdatatables/vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js'
		'bundles/uammaintenance/js/maintenance.js'
		%}
	<script src="{{ asset_url }}"></script>
{% endjavascripts %}
	{% endblock foot_script %}
	</body>
</html>