{% trans_default_domain "maintenance" %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     	<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	{% block uam_maintenance_head_style %}
		{% stylesheets filter="cssrewrite"
			'bundles/uammaintenance/vendor/bootstrap/dist/css/bootstrap.min.css'
			'bundles/uammaintenance/vendor/Font-Awesome/css/font-awesome.min.css'
		%}
			<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen">
		{% endstylesheets %}
	{% endblock %}

	{% block uam_maintenance_head_script %}{% endblock %}
</head>

<body class="{% block uam_maintenance_bodyclass %}{% endblock %}">
{% block uam_maintenance_body %}
	<div class="container {% block uam_maintenance_page_class %}{% endblock %}">
		<header class="page-header" role="banner">
			{% block uam_maintenance_page_nav %}{% endblock %}
			{% block uam_maintenance_page_title %}{% endblock %}
		</header>
		<div class="content">
			{% block uam_maintenance_content %}{% endblock %}
		</div>
	</div>

	<footer role="contentinfo">
		<div class="container">
			{% block uam_maintenance_footer %}{% endblock %}
		</div>
	</footer>
{% endblock %}

{% block uam_maintenance_foot_script %}
	{% javascripts
			'bundles/uammaintenance/vendor/jquery/dist/jquery.min.js'
			'bundles/uammaintenance/vendor/bootstrap/dist/js/bootstrap.min.js'
		%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
{% endblock %}
</body>
</html>