{% trans_default_domain "maintenance" %}

<table class="table table-hover table-condensed dataTable ">
	<thead>
		<tr>
			<th class="selectall"></th>
			<th class="date_start">{% trans %}list.date_start{% endtrans %}</th>
			<th class="date_end">{% trans %}list.date_end{% endtrans %}</th>
			<th class="description">{% trans %}list.description{% endtrans%}</th>
			<th class="confirmed">{% trans %}list.confirmed{% endtrans%}</th>
			<th class="actions"><i class="fa fa-cog"></i></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
