{% extends "UAMMaintenanceBundle::layout.html.twig" %}

{% trans_default_domain "maintenance" %}

{% block uam_maintenance_page_title %} {% trans %}maintenance.show.page_title{% endtrans %}{% endblock %}

{% block uam_maintenance_page_nav %}
<div class="top-nav">
    <a href="{{ path('uam_maintenance_admin_index') }}" class="back">
        <i class="fa fa-long-arrow-left"></i>
        {% trans %}maintenance.show.back{% endtrans %}
    </a>
</div>
{% endblock %}