{% trans_default_domain "maintenance" %}

<template class="actions">
	<div class="btn-group">
		<button type="button" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-cog"></i>
		</button>
		<ul class="dropdown-menu dropdown-menu-right navbar-right" role="menu">
			<li><a href="{% verbatim %}{{urls.edit}}{% endverbatim %}">{% trans %}list.actions.edit{% endtrans %}</a></li>
			<li><a href="{% verbatim %}{{urls.delete}}{% endverbatim %}" class="delete">{% trans %}list.actions.delete{% endtrans %}</a></li>
		</ul>
	</div>
</template>

<template class="confirmed">
	{% verbatim %}{{ #confirmed }}<i class="fa fa-check fa-lg confirmed"></i>{{ /confirmed }}{% endverbatim %}
</template>

<template class="delete_message">
	{% trans %}delete.message{% endtrans %}
</template>

<template class="delete_cancel">
	{% trans %}delete.cancel{% endtrans %}
</template>

<template class="delete_confirm">
	{% trans %}delete.confirm{% endtrans %}
</template>
