table.table {
	display: none;
}

table.noajax {
	display: table;
}

table.table > thead > tr > th, table.table td {
	border: 1px solid #ddd;
	border-width: 0 0 1px 0;
}

table.table th.date {
	width: 7em;
}

table.table th.datetime {
	width: 9em;
}

table.table th.actions {
	width: 36px;
	padding: 5px 0;
	text-align: center;
}

table.table td.number {
	text-align: right;
	padding-right: 15px;
}

table.table td.actions {
	text-align: center;
}

table.table thead tr.filters th {
	padding: 5px 1px;
}

table.table thead tr.filters th .form-control {
	width: 100%;
	padding: 6px;
	font-weight: normal;
}

table.table tbody tr:hover td,
table.table tbody tr:hover td a,
table.table tbody tr:hover th {
	color: #535353;
	background-color: #FFF6BF;
}

table.table td.number {
	text-align: right;
}

table.table td.actions button.dropdown-toggle {
	border: none;
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

table.table td.actions .dropdown-menu {
	margin-top: 0;
}

table.table td.actions .dropdown-menu > li > a {
	text-align: left;
}

table.table tr:hover td.actions .dropdown-menu > li > a {
	background-color: #fff;
	text-align: left;
}

table.table tr td.actions .dropdown-menu > li > a:hover {
	color: #fff;
	background-color: #ddd;
}

table.dataTable > thead > tr > th {
	padding: 5px;
}

div.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 50px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #e2b709;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center;
	color: #999;
	font-size: 115%;
	background: #ffe57e;
	-moz-box-shadow: 0px 5px 90px #888;
	-webkit-box-shadow: 0px 5px 90px #888;
	box-shadow: 0px 5px 90px #888;
}

ul.pagination li.previous a:before {
	font-family: FontAwesome;
	content: "\f053";
	margin-right: 10px;
}

ul.pagination li.next a:after {
	font-family: FontAwesome;
	content: "\f054";
	margin-left: 10px;
}

tr.filters input.form-control {
	width: 100%;
}

.filters input.date {
	display: none;
}

.panel table.table tbody tr:last-child th,
.panel table.table tbody tr:last-child td {
	border-bottom: none;
}
