<table class="table table-condensed table-hover" id="maintenance_records">
	<thead>
		<tr>
			<th class="selectall"></th>
			<th class="id">{% trans %}maintenance_records.maintenance_record.id{% endtrans %}</th>
			<th class="date_start">{% trans %}maintenance_records.maintenance_record.date_start{% endtrans %}</th>
			<th class="date_end">{% trans %}maintenance_records.maintenance_record.date_end{% endtrans %}</th>
			<th class="description">{% trans %}maintenance_records.maintenance_record.description{% endtrans%}</th>
			<th class="confirmed">{% trans %}maintenance_records.maintenance_record.confirmed{% endtrans%}</th>
			<th class="actions"><i class="fa fa-cog"></i></th>
		</tr>
	</thead>
</table>
