{% extends "UAMMaintenanceBundle::layout.html.twig" %}

{% trans_default_domain "maintenance" %}

{% block uam_maintenance_page_class %}uam_maintenence_progress{% endblock %}

{% block uam_maintenance_page_title %}{% trans %}progress.page_title{% endtrans %}{% endblock %}

{% block uam_maintenance_content %}
	{% if maintenance is defined %}
		<div class="maintenence_progress alert-danger">
			{% trans with { '%description%': maintenance.description, '%date_end%': maintenance.dateEnd|datetime('medium', 'short', null, app.request.locale)  } %}progress.description{% endtrans %}
		</div>
	{% else %}
		<div class="maintenence_no_progress alert-info">
			{% trans %}no_progress{% endtrans %}
		</div>
	{% endif %}
{% endblock %}
