{% extends "UAMMaintenanceBundle::layout.html.twig" %}

{% block uam_maintenance_flash %}
	{% for flashMessage in app.session.flashbag.get('alert') %}
		<div class="alert alert-warning">
			{{ flashMessage|raw }}
		</div>
	{% endfor %}
{% endblock %}
